*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left, white, #FF1493);
}

.center{
    text-align: center;
    font-family: "Georgia", Times, serif;

}

img{
    width: 20%;
    border-radius: 8px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
}

.btn {
    display: inline-block;
    padding: 0.40rem 1.8rem;
    font-size: 1rem; 
    font-weight: 700;
    color: rgb(5, 5, 5);
    border: 3px solid rgb(255,20,147);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    box-sizing: border-box;
}

/* Tamanho pequeno */
@media (max-width: 600px) {
    .btn {
        padding: 0.5rem 1.5rem; 
        font-size: 0.500rem; 
    }
}

/*Tamanho médio*/
@media (min-width: 601px) and (max-width: 1024px) {
    .btn {
        padding: 0.8rem 1.2rem;
        font-size: 0.600rem; 
    }
}

.btn:hover {
    background-color: rgb(252, 20, 147);
    transform: scale(1.1);
    color: rgb(7, 7, 7);
}

/* Posicionamento dos GIFs nos cantos */
.corner-gif {
    position: fixed;
    max-width: 20%;
    width: auto; 
    height: auto;
}

.top-left {
    top: 2%;
    left: 2%; 
}

.top-right {
    top: 2%; 
    right: 2%; 
}


.text-container {
    text-align: center;
    margin-bottom: 10rem; 
    font-weight: 400;

}

.below-button-text {
    font-size: 16px; 
    color: #000;
}


@media (max-width: 768px) {
    .below-button-text {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .below-button-text {
        font-size: 10px;
    }
}



